[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "*"
django = "*"
djangorestframework = "*"
psycopg2 = "==2.7.7"
django-seed = "*"
django-filter = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
